.mceContentBody
{
    @import "../less/bootstrap.less";

    table
    {
        border-collapse: collapse;
        border: 1px dotted #cccccc;
        th,td
        {
            border: 1px dotted #cccccc;
        }
    }
}
