.mceContentBody
{
    @import "../less/bootstrap.less";

    table
    {
        border: 1px dotted #dedede !important;
        th,td
        {
            border: 1px dotted #dedede !important;
        }
    }
    .mceWPmore,
    .mceWPnextpage,
    .mce-wp-nextpage,
    .mce-wp-more
    {
        border: 0 !important;
        border-top: 1px dotted #cccccc !important;
        height: 12px !important;
        margin: 15px auto 0 !important;
    }
}
